@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Products Catalogue</h1>


<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img   src="@product.ImageUrl" class="card-img-top card-image" alt="@product.Name">
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">€@product.Price</p>
                            <a href="/Products/Details?id=@product.Id" class="btn btn-primary">View Specifications</a>
                            <a href="/Products/Delete?id=@product.Id" onclick="return window.confirm('Are you sure?')" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
        }
    </div>
</div>


